@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-blink-caret: 1s blink-caret step-end infinite;

  @keyframes blink-caret {
    from,
    to {
      border-right-color: var(--foreground);
    }
    50% {
      border-right-color: transparent;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
